<launch>
  <node pkg="rslidar_sdk" name="rslidar_sdk_node_m1" type="rslidar_sdk_node_m1" output="screen">
  </node>
  <node pkg="rslidar_sdk" name="rslidar_sdk_node" type="rslidar_sdk_node" output="screen">
  </node>
  <node pkg="rslidar_sdk" name="rslidar_sdk_node_bp2" type="rslidar_sdk_node_bp2" output="screen">
  </node>
  <node pkg="rslidar_sdk" name="rslidar_sdk_node_80" type="rslidar_sdk_node_80" output="screen">
  </node>
  <!-- rviz -->
  <node pkg="rviz" name="rviz" type="rviz" args="-d $(find rslidar_sdk)/rviz/rviz.rviz" />
</launch>
